@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mwqz7n');
  src:  url('fonts/icomoon.eot?mwqz7n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mwqz7n') format('truetype'),
    url('fonts/icomoon.woff?mwqz7n') format('woff'),
    url('fonts/icomoon.svg?mwqz7n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-ICONOS-01:before {
  content: "\e903";
}
.icon-ICONOS-02:before {
  content: "\e904";
}
.icon-ICONOS-03:before {
  content: "\e905";
}
.icon-ICONOS-04:before {
  content: "\e906";
}
.icon-ICONOS-05:before {
  content: "\e907";
}
.icon-ICONOS-06:before {
  content: "\e908";
}
.icon-ICONOS-07:before {
  content: "\e909";
}
.icon-ICONOS-09:before {
  content: "\e90b";
}
.icon-ICONOS-10:before {
  content: "\e90c";
}
.icon-ICONOS-12:before {
  content: "\e90d";
}
.icon-ICONOS-13:before {
  content: "\e90e";
}
.icon-ICONOS-14:before {
  content: "\e90f";
}
.icon-ICONOS-15:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-message:before {
  content: "\e61d";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-close:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\e602";
}
