.footer
	background: $c-4
	margin: 0 0
	padding: 60px 0 27px 0
	.row
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		text-align: center

.footer-middle
	max-width: 1190px
	margin: auto
	padding: 0px 20px

.footer-pad
	color: $blanco
	text-align: left
	font-size: 14px
	h4
		font-size: 16px
		font-weight: normal
		color: $blanco
		margin: 0 0 25px 0
		font-family: $t-3
	p
		margin: 0
		font-size: 14px
		line-height: 1.1
	a
		color: $blanco
		font-size: 13px
		font-family: $t-0
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center

	li 
		width: 50%
		margin: 0 0 20px 0
		&:last-child
			margin-bottom: 0

.footer-bottom
	max-width: 1190px
	padding: 27px 20px 0px 20px
	margin-top: 35px
	margin-right: auto
	margin-left: auto
	color: $c-6
	font-size: 14px
	border-top: 1px solid $blanco
	p 
		margin: 0
	a 
		color: $c-6
.footer-logo-sub
	width: 25%
	padding-right: 0
	margin: 0 auto

.footer-redes
	text-align: left
	font-family: $t-3
	font-size: 16px
	color: $blanco
	p
		margin-bottom: 25px
	li
		display: inline-block
		padding-right: 40px
	a
		color: $blanco

	.icon--facebook,
	.icon--linkedin
		font-size: 20px

.footer-ctn-sub
	width: 25%
	margin: 0 auto

.footer-direccion
	width: 25%
	margin: 0 auto
	text-align: left

.logo-footer
	max-width: 192px
	padding-bottom: 25px
	img 
		display: block
	
.footer-info
	font-family: $t-0
	font-size: 12px
	color: $blanco
	padding-bottom: 20px
	a
		color: $blanco
		display: block
		font-size: 22px
		font-family: $t-1
		padding-bottom: 8px
	p
		margin-bottom: 0
		padding-bottom: 10px

.footer-location
	font-family: $t-0
	font-size: 12px
	color: $blanco
	a
		color: $blanco
		display: block
		font-size: 16px
		padding-bottom: 8px
	span
		color: $blanco
		display: block
		font-size: 16px
		padding-bottom: 8px
		line-height: 1.2
	p
		margin-bottom: 0
		padding-bottom: 10px 

.footer-creditos
	text-align: center
	font-family: $t-0
	font-size: 12px
	color: $blanco
	a
		color: $blanco

@media screen and (max-width: 1024px)
	.footer-redes, .footer-ctn-sub
		display: none

	.footer-logo-sub
		width: 40%

	.footer-direccion
		width: 35%

@media screen and (max-width: 768px)
	.footer
		padding: 30px 0
	.footer-middle
		.container
			padding-bottom: 20px
	.footer-direccion
		width: 40%

@media screen and (max-width: 640px)
	.footer-direccion
		width: 100%
		text-align: center

	.footer-logo-sub
		width: 100%
		text-align: center

	.logo-footer
		margin: auto

	.footer-bottom
		margin-top: 20px
	
	.footer
		padding: 20px 0

	.footer-location
		span
			font-size: 15px

	.footer-info
		a
			font-size: 20px

@media screen and (max-width: 480px)
	.footer-bottom
		padding: 20px 20px 0px 20px

	.footer-info
		a
			font-size: 18px

	.footer-location
		span
			font-size: 14px

	.logo-footer
		max-width: 180px