footer.footer(role='contentinfo')
  .footer-middle
    .row
      .footer-logo-sub
        .logo-footer
          a
            img(src=`${STATIC_URL}img/logo-footer.svg` width="120" height="61" alt="Tupia")
        .footer-redes
          p Redes Sociales
          ul
            li
              a.icon--facebook(href="#" target="_blank")
                span.icon-facebook
            li
              a(href="#" target="_blank")
                span.icon-youtube
            li
              a.icon--linkedin(href="#" target="_blank")
                span.icon-linkedin
      .footer-ctn-sub
        // Column1
        .footer-pad
           h4 Mapa de Sitio
           ul
            li 
               a(href='nosotros.html') Nosotros
            li 
               a(href='servicios.html') Servicios
            li 
               a(href='cursos.html') Cursos
            li 
               a(href='contacto.html') Contacto
            li 
               a(href='clientes.html') Clientes
      .footer-direccion
        .footer-info
          p Centro de Información
          a(href="tel:6869831") (511) 686 98 31 
          a(href="tel:994104455") Celular: 994 104 455
        .footer-location
          p Ubicación
          span Calle 4 Mza. F Lote 9 Oficina 202 <br> Urbanización San Fernando - Callao
  .footer-bottom
      .footer-creditos
         p Tupia 2017 Todos los derechos reservados.Diseño Página web: 
          a(href='https://www.staffdigital.pe/', target='_blank') Staff Digital