.header-wrap
    .header-fixed
        .header-bg
        .header-cnt
            a(href="home.html").header-logo
                img.header-logo-desktop-white(src=`${STATIC_URL}img/logo-tupia-white.png`, alt="")
                img.header-logo-desktop(src=`${STATIC_URL}img/logo-tupia-color.png`, alt="")
                img.header-logo-scroll(src=`${STATIC_URL}img/logo-tupia-color.png`, alt="")
            .header-cnt-list
                ul.header-list
                    li.header-item
                        a.header-link(href="nosotros.html") NOSOTROS
                    li.header-item
                        a.header-link(href="servicios.html") SERVICIOS
                    li.header-item
                        a.header-link(href="cursos.html") CURSOS
                    li.header-item
                        a.header-link(href="clientes.html") CLIENTES
                    li.header-item
                        a.btn-general.btn-red( href='contacto.html') Contáctenos
            


//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
    .menu-sidebar-cnt