extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Clientes'
//- ---

//- Contenido
block content
	section.clientes
		.clientes__capa
		.clientes__title__container
			.clientes__title
				.title__general.title__general--center
					.title__general___title.title__general__title--normal
						h2 Nuestros Clientes
			.clientes__description
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
		.clientes__container
			.clientes__content
				.clientes__box
					.clientes__box__container
						.clientes__img.fig(nav-id="cliente-1")
							img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
							span.clientes__info__logo + Más información
						#cliente-1.clientes__info
							.clientes__info__container
								span.icon-close.clientes__icon--responsive
								.clientes__info__content
									.clientes__info__fecha
										p ENE. 2015
									.clientes__info__title
										h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
									.clientes__info__text
										p Servicio de diseño del marco normativo y estructura organizacional del área de Contraloría PUCP. 
				.clientes__box
						.clientes__box__container
							.clientes__img.fig(nav-id="cliente-2")
								img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
								span.clientes__info__logo + Más información
							#cliente-2.clientes__info
								.clientes__info__container
									span.icon-close.clientes__icon--responsive
									.clientes__info__content
										.clientes__info__fecha
											p ENE. 2015
										.clientes__info__title
											h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
										.clientes__info__text
											p Servicio de diseño del marco  
				.clientes__box
						.clientes__box__container
							.clientes__img.fig(nav-id="cliente-3")
								img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
								span.clientes__info__logo + Más información
							#cliente-3.clientes__info
								.clientes__info__container
									span.icon-close.clientes__icon--responsive
									.clientes__info__content
										.clientes__info__fecha
											p ENE. 2015
										.clientes__info__title
											h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
										.clientes__info__text
											p Servicio de diseño del marco normativo y estructura organizacional del área 
				.clientes__box
					.clientes__box__container
						.clientes__img.fig(nav-id="cliente-4")
							img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
							span.clientes__info__logo + Más información
						#cliente-4.clientes__info
							.clientes__info__container
								span.icon-close.clientes__icon--responsive
								.clientes__info__content
									.clientes__info__fecha
										p ENE. 2015
									.clientes__info__title
										h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
									.clientes__info__text
										p Servicio de diseño del marco normativo y estructura organizacional del área de Contraloría PUCP. 
				.clientes__box
						.clientes__box__container
							.clientes__img.fig(nav-id="cliente-5")
								img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
								span.clientes__info__logo + Más información
							#cliente-5.clientes__info
								.clientes__info__container
									span.icon-close.clientes__icon--responsive
									.clientes__info__content
										.clientes__info__fecha
											p ENE. 2015
										.clientes__info__title
											h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
										.clientes__info__text
											p Servicio de diseño del marco  
				.clientes__box
						.clientes__box__container
							.clientes__img.fig(nav-id="cliente-6")
								img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
								span.clientes__info__logo + Más información
							#cliente-6.clientes__info
								.clientes__info__container
									span.icon-close.clientes__icon--responsive
									.clientes__info__content
										.clientes__info__fecha
											p ENE. 2015
										.clientes__info__title
											h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
										.clientes__info__text
											p Servicio de diseño del marco normativo y estructura organizacional del área 
				.clientes__box
					.clientes__box__container
						.clientes__img.fig(nav-id="cliente-7")
							img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
							span.clientes__info__logo + Más información
						#cliente-7.clientes__info
							.clientes__info__container
								span.icon-close.clientes__icon--responsive
								.clientes__info__content
									.clientes__info__fecha
										p ENE. 2015
									.clientes__info__title
										h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
									.clientes__info__text
										p Servicio de diseño del marco normativo y estructura organizacional del área de Contraloría PUCP. 
				.clientes__box
						.clientes__box__container
							.clientes__img.fig(nav-id="cliente-8")
								img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
								span.clientes__info__logo + Más información
							#cliente-8.clientes__info
								.clientes__info__container
									span.icon-close.clientes__icon--responsive
									.clientes__info__content
										.clientes__info__fecha
											p ENE. 2015
										.clientes__info__title
											h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
										.clientes__info__text
											p Servicio de diseño del marco  
				.clientes__box
						.clientes__box__container
							.clientes__img.fig(nav-id="cliente-9")
								img(src=`.${STATIC_URL}img/logo-clientes.png`, alt="")
								span.clientes__info__logo + Más información
							#cliente-9.clientes__info
								.clientes__info__container
									span.icon-close.clientes__icon--responsive
									.clientes__info__content
										.clientes__info__fecha
											p ENE. 2015
										.clientes__info__title
											h4 PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ
										.clientes__info__text
											p Servicio de diseño del marco normativo y estructura organizacional del área 

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{

			// agrupando creando divs DETALLES
			var width = $(window).innerWidth();
			if (width > 680) {
				var $children = $('.clientes__box');
				for(var i = 0, l = $children.length; i < l; i += 3) {
					$children.slice(i, i+3).wrapAll('<div class="clientes--padre"></div>');
				}
			}
			else{
			};
			
			$('.clientes__img').click(function(event) {
				event.preventDefault();
				var dta_nav = $(this).attr('nav-id');			
				$('.clientes__img').removeClass('active');
				$(this).addClass('active');
				$('.clientes__box').removeClass('active');
				$(this).closest('.clientes__box').addClass('active');
				$('.clientes__info').removeClass('active');
				$('.clientes--padre').removeClass('margen');
				$('.clientes__capa').removeClass('active');
				$(this).closest('.clientes').find('.clientes__capa').addClass('active');
				setTimeout(function(){
					$('.clientes__info[id="'+dta_nav+'"]').addClass('active');
					$('.clientes__img.active').closest('.clientes--padre').addClass('margen');
				}, 350);
			});

			$('.clientes__capa, .clientes__icon--responsive').click(function(event) {
				$(this).removeClass('active');
				$('.clientes__box').removeClass('active');
				$('.clientes__img').removeClass('active');			
				$('.clientes__capa').removeClass('active');
				$('.clientes__info').removeClass('active');
				$('.clientes--padre').removeClass('margen');
			});
		})