extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Contacto'
//- ---

//- Contenido
block content
	section.contacto__title
		.contacto__title__container
			.contacto__title__text
				.title__general.title__general--center
					.title__general___title.title__general__title--normal
						h2 Para más información escríbenos
			.contacto__text
				p Si estás interesado, llena el siguiente formulario y nos comunicaremos contigo para brindarte toda nuestra asesoría.

	section.contacto__formulario
		.contacto__formulario__container
			form.contacto__form__content
				ul
					li
						.contacto__form__input
							input.contact__input.contact--input(type="text", name="nombre_apellido", class="validate[required]")
							label.label NOMBRES
						.contacto__form__input
							input.contact__input.contact--input(type="text", name="nombre_apellido", class="validate[required]")
							label.label APELLIDOS
					li
						.contacto__form__input
							input.contact__input.contact--input(type="email", name="telefono", class="validate[required]")
							label.label CORREO ELECTRÓNICO
						.contacto__form__input
							input.contact__input.contact--input(type="tel", name="nombre_apellido", class="validate[required]")
							label.label TELÉFONO / CELULAR
					li
						.contacto__form__input.contacto__form--textarea
							textarea.contact__input.contact--input(name="mensaje", class="validate[required]")
							label.label MENSAJE
			.contacto__formulario__btn
				button.btn-general.btn-red Enviar

	section.contacto__info
		.contacto__info__container
			.contacto__info__content
				.contacto__info__box
					.contacto__info__item
						.contacto__info__title
							h4 Dirección
						.contacto__info__text
							a(href="") Calle 4 Mza. F Lote 9 Oficina 202 Urbanización San Fernando - Callao 
					.contacto__info__item
						.contacto__info__title
							h4 Correo Electrónico
						.contacto__info__text
							a(href="mailto:contactenos@tupiaca.com") contactenos@tupiaca.com
					.contacto__info__item
						.contacto__info__title
							h4 Teléfonos
						.contacto__info__text
							a(href="tel:6869831") (511) 686 98 31 
							a(href="tel:994104455") Celular: 994 104 455

	section.mapcontacto
		.cnt-map
			.abrir-map Abrir mapa
			.box-map
				#google-maplima.map
				.btn-azul.cerrar-map cerrar mapa
						
//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {
			var formBox = $(".contacto__form__input input, .contacto__form__input textarea")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});

			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : false,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"./assets/img/marker.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".cnt-map .abrir-map").click(function(event) {
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				$(".box-map").removeClass('anima-map');
			});
		});
