extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Curso Detalle'
//- ---

//- Contenido
block content
	section.curso__detalle__info
		.item__general
			.item__general__container.item__general__container--three
				.item__general__content.item__general__content--three
					.item__general__box.item__general__box--three
						.item__general__title.item__general__title--three
							.title__general.title__general--left
								.title__general___title.title__general__title--normal
									h3 Cursos
									h2 Capacitar al personal involucrado en los proyectos de implementación delsistema de gestión de la seguridad de la información, haciendo énfasis en los contenidos de la norma ISO 27002.
						.item__general__btn
							a.btn-general.btn-red( href='') Contáctenos
				.item__general__img.item__general__img--three
					.item__general__background--capathree
						img(src=`${STATIC_URL}img/item-general-3.jpg`, alt="")
		.curso__detalle__info__container
			.curso__detalle__info__content
				.curso__detalle__info__box
					.curso__detalle__info__title
						span.icon-ICONOS-12.icon__curso__detalle
						h4 Inicio
					.curso__detalle__info__fecha
						p 25 de Noviembre
					.curso__detalle__info__costo
						p Costo: S/77.00 Nuevos Soles

	section.curso__detalle__tabs
		.curso__detalle__tabs__container
			.curso__detalles__tabs__btn
				span(data-id="tab_1", class="tab--info") Descripción del Curso
				span(data-id="tab_2", class="tab--info") Temario
				span(data-id="tab_3", class="tab--info") Formas de Pago
			.curso__detalles__tabs__box
				#tab_1.cursos__detalles__tabs__item
					.cursos__detalles__tabs__content
						.cursos__detalles__tabs__info
							.cursos__detalles__tabs__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci sem, pharetra quis magna vel, vulputate rutrum sapien. Vestibulum massa elit, elementum et scelerisque id, molestie a neque. Proin dapibus eu justo eget maximus. Nunc feugiat metus non enim mattis scelerisque. Quisque vel enim convallis dui tristique sagittis. Maecenas mattis sodales aliquam. Duis nunc justo, malesuada sed pretium id, lobortis eu ligula. In non molestie felis, eget efficitur tellus. Nullam gravida nisi rhoncus tellus consequat facilisis. 
								p Pellentesque dolor dolor, interdum auctor sem eget, semper ultrices tellus. Duis posuere metus lacus, vitae suscipit ipsum eleifend in. In hac habitasse platea dictumst. Mauris dictum vel ipsum vel semper. Quisque tempor, tellus eu congue mattis, diam risus varius lorem, quis viverra massa velit lacinia risus. Donec sagittis nulla sit amet orci suscipit, in tempus leo vehicula.
							.cursos__detalles__tabs__download
								a(href="../assets/img/Web-Tupia.pdf" download="Curso") descargar brochure
				#tab_2.cursos__detalles__tabs__item
					.cursos__detalles__tabs__content
						.cursos__detalles__tabs__info
							.cursos__detalles__tabs__list
								h4 Conoce nuestro temario:
								ul.cursos__detalles__tabs__lisbox
									li Calificación del riesgo de LA/FT
										ul.cursos__detalles__tabs__listtwo
											li Consideraciones metodológicas para la calificación del riesgo de LA/FT de los clientes nuevos.
											li Consideraciones metodológicas para la calificación del riesgo de LA/FT de los clientes antiguos.
											li Plazos y criterios mínimos para la actualización del score del cliente.
									li Monitoreo de señales de alerta
										ul.cursos__detalles__tabs__listtwo
											li Identificación de señales de alerta vinculadas a los negocios del sujeto obligado.
											li Definición del control aplicable: manual o automático.
											li Mecanismo de comunicación de las señales de alerta.
											li Ejemplos de implementación de señales de alerta de monitoreo automático.
											li Evaluación y descarte de las señales de alerta generadas.
									li Identificación de Operaciones Inusuales
										ul.cursos__detalles__tabs__listtwo
											li Responsabilidad en la identificación de operaciones inusuales: mecanismos de comunicación.
											li Análisis y registro de las operaciones inusuales.
											li Desarrollo de casos.
											li Implicancias del literal f del Art. 19 del Reglamento de Auditoría Interna, Resolución SBS N° 11699-2008
									li Criterios para la calificación de Operaciones Sospechosas
				#tab_3.cursos__detalles__tabs__item
					.cursos__detalles__tabs__content
						.cursos__detalles__tabs__info
							.cursos__detalles__tabs__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci sem, pharetra quis magna vel, vulputate rutrum sapien. Vestibulum massa elit, elementum et scelerisque id, molestie a neque. Proin dapibus eu justo eget maximus. Nunc feugiat metus non enim mattis scelerisque. Quisque vel enim convallis dui tristique sagittis. Maecenas mattis sodales aliquam. Duis nunc justo, malesuada sed pretium id, lobortis eu ligula. In non molestie felis, eget efficitur tellus. Nullam gravida nisi rhoncus tellus consequat facilisis. 
								p Pellentesque dolor dolor, interdum auctor sem eget, semper ultrices tellus. Duis posuere metus lacus, vitae suscipit ipsum eleifend in. In hac habitasse platea dictumst. Mauris dictum vel ipsum vel semper. Quisque tempor, tellus eu congue mattis, diam risus varius lorem, quis viverra massa velit lacinia risus. Donec sagittis nulla sit amet orci suscipit, in tempus leo vehicula.			

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			$('.tab--info:first-child').addClass("active");
			$('.cursos__detalles__tabs__item:first-child').addClass("active");
			$('.tab--info').click(function(e) {
				e.preventDefault();
				$('.tab--info').removeClass('active');
				$(this).addClass('active');
				var dataid = $(this).attr('data-id');
				$('.cursos__detalles__tabs__item').removeClass('active');
				$('.cursos__detalles__tabs__item[id="'+dataid+'"]').addClass('active');
			});
		})