extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Enviado'
//- ---

//- Contenido
block content
	section.enviado
		.enviado__background(style=`background-image: url('${STATIC_URL}img/img-enviado.jpg');`)
			.enviado__container
				.enviado__content
					.enviado__title
						h2 Gracias
					.enviado__title__two
						h3 Mensaje Enviado
					.enviado__text
						p Gracias por enviarnos tu mensaje, nos estaremos comunicando contigo lo antes posible, puedes regresar a la página principal o quizás encuentres lo que buscabas.
					.enviado__btn
						a.btn-general.btn-red( href='') Regresar al Home

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})