extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'error'
	- var title = 'Error'
//- ---

//- Contenido
block content
	section.error
		.error__background(style=`background-image: url('${STATIC_URL}img/img-error.jpg');`)
			.error__container
				.error__content
					.error__title
						h2 ERROR
					.error__title__two
						h3 ESTA PÁGINA NO EXISTE
					.error__text
						p Al parecer la página que estas buscando se rompió o no existe, porque no intestas volver a la página principal o  quizás encuentres lo que buscabas.
					.error__btn
						a.btn-general.btn-red( href='') Regresar al Home
		

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})