extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    section.home-curso
        .home-curso__wrapp
            .home-curso__box__content
                .home-curso__box__text
                    .home-curso__title
                        .title__general.title__general--left
                            .title__general___title.title__general__title--normal
                                h3 Cursos
                                h2 Cursos especializados para empresas
                    .home-curso__parrafo
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                .home-curso__item__empresa
                    .home-curso__box__empresa
                        .home-curso__bgc(style=`background-image: url('${STATIC_URL}img/bgc-empresa.png')`)
                           .home-curso__bgc__text
                                h3 INICIO: 07 NOVIEMBRE
                                p Capacitar al personal involucrado en los proyectos de implementación delsistema de gestión de la seguridad de la información, haciendo énfasis en los contenidos de la norma ISO 27002
                                .home-curso__button
                                    a.btn-general.btn-icon( href='') Más información
                    .home-curso__noticias__boxes
                        .home-curso__news__box
                            .home-curso__news
                                .home-curso__news__board
                                .home-curso__news__bgc(style=`background-image: url('${STATIC_URL}img/new-bgc-01.png')`)
                                .home-curso__infor__board
                                    .home-curso__infor__title
                                        h3 INICIO: 07 NOVIEMBRE
                                    .home-curso__infor__text
                                        p Capacitar al personal en gestión de proyectos de acuerdo al cuerpo de conocimientos de metodología PRojects IN Controlled Environments ( PRINCE2)
                                    .home-curso__infor__button
                                        a.btn-general.btn-icon( href='') Más información
                        .home-curso__news__box
                            .home-curso__news
                                .home-curso__news__board
                                .home-curso__news__bgc(style=`background-image: url('${STATIC_URL}img/new-bgc-01.png')`)
                                .home-curso__infor__board
                                    .home-curso__infor__title
                                        h3 INICIO: 07 NOVIEMBRE
                                    .home-curso__infor__text
                                        p Capacitar al personal en gestión de proyectos de acuerdo al cuerpo de conocimientos de metodología PRojects IN Controlled Environments ( PRINCE2)
                                    .home-curso__infor__button
                                        a.btn-general.btn-icon( href='') Más información            
                .home-curso__button__all
                    a.btn-general.btn-red( href='') Contáctenos

//- js
append scripts 
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
        })