extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    section.home-logos
        .home-logos__wrapp
            .home-logo__content__box
                .home-logo__content__title
                    h2 NUESTROS CLIENTES
                ul.home-logo__box__img
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-2.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-4.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-1.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-2.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-2.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-2.png`)
//- js
append scripts
    script(src=`${STATIC_URL}js/slick/slick.min.js`)
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
            $('.home-logo__box__img').slick({
                arrows: false,
                dots: false,
                infinite: true,
                autoplay: true,
                speed: 5000,
                cssEase: 'linear',
                slidesToShow: 5,
                slidesToScroll: 2,
                responsive: [
                        {
                        breakpoint: 980,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                            }
                        },
                        {
                        breakpoint: 540,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                            }
                        },
                        {
                        breakpoint: 330,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                            }
                        },
                    ]
            });
        })