extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    section.home-redes
        .home-redes__wrapp
            .home-redes__box
                .home-redes__box__item
                    .home-redes__box__title
                        h2
                            | Encuentranos en twitter como 
                            span @TUPIACASAC
                    .home-redes__box__img
                        img(src=`${STATIC_URL}img/twitter-img-01.png`)
                .home-redes__box__twitter
                    //- .home-redes__twitter__title
                    //-     h2
                    //-         | Tweets
                    //-         span  by
                    //-         i  @tupia
                    .home-redes__twitter__plugin
                        a.twitter-timeline(data-height='500', href='https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw')
                        script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
//- js
append scripts
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
          
        })