extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    section.home-nosotros
        .item__general
            .item__general__container.item__general__container--one
                .item__general__content.item__general__content--one
                    .item__general__box.item__general__box--one
                        .item__general__title.item__general__title--width
                            .title__general.title__general--left
                                .title__general___title.title__general__title--normal
                                    h3 Nosotros
                                    h2 Énterate mas sobre nosotros
                        .item__general__text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        .item__general__btn
                            a.btn-general.btn-red( href='') Ver más
                .item__general__img
                        .item__general__background--capa
                            img(src=`.${STATIC_URL}img/item-general-1.jpg`, alt="")

//- js
append scripts 
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
        })