extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
    - var bodyClass = 'class'
    
//- ---
//- Contenido
block content
    section.home__banner
        .home__banner__content
            ul.home__content__box
                li.home__content__item(style=`background-image: url('${STATIC_URL}img/banne-1.png')`)
                    .home__box__container
                        .home__box__text
                            .home__banner__title
                                .home__title__asesor
                                    h3 Profesionales brindando
                                    h2 servicios de calidad
                            .home__banner__button
                                .home__title_button
                                        a.btn-general.btn-red( href='') Contáctenos
                            .home__banner__pager
                                .home__pager
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    span.linea__carga
                                .home__pager
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    span.linea__carga
                                .home__pager
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    span.linea__carga
    

//- js
append scripts
    script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
            $('.home__content__box').bxSlider({
                mode: 'fade',
                controls:false,
                nextText: '',
                auto:false,
                prevText: '',
                pager:true,
                auto:false,
                pause: 5000,
                onSliderLoad: function(currentIndex) {
                $('.home__content__box').children().eq(currentIndex).addClass('active')
                },
                onSlideBefore: function($slideElement){
                $('.home__content__box').children().removeClass('active');
                    setTimeout( function(){
                        $slideElement.addClass('active');
                    },500);
                }
            });
        })