extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)


//- body classs
block vars
    - var bodyClass = 'class'
    
//- ---
//- Contenido
block content
    section.home-servicios
        .home-servicios__wrapp
            .home-servicios__box
                .home-servicios__item
                    .home__servicios__box__cont
                        .home-servicios__text.home__servicios--icono
                            img(src=`${STATIC_URL}img/icono-1.png` width="86" height="86")
                        .home-servicios__text.home__servicios--title
                            h3 Consultoría
                        .home-servicios__text.home__servicios--parrafo
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .
                        .home-servicios__text.home__servicios--button
                            a.btn-general.btn-icon( href='') Más información
                .home-servicios__item
                    .home__servicios__box__cont
                        .home-servicios__text.home__servicios--icono
                            img(src=`${STATIC_URL}img/icono-2.png` width="86" height="86")
                        .home-servicios__text.home__servicios--title
                            h3 Consultoría
                        .home-servicios__text.home__servicios--parrafo
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .
                        .home-servicios__text.home__servicios--button
                            a.btn-general.btn-icon( href='') Más información
                .home-servicios__item
                    .home__servicios__box__cont
                        .home-servicios__text.home__servicios--icono
                            img(src=`${STATIC_URL}img/icono-3.png` width="86" height="86")
                        .home-servicios__text.home__servicios--title
                            h3 Consultoría
                        .home-servicios__text.home__servicios--parrafo
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .
                        .home-servicios__text.home__servicios--button
                            a.btn-general.btn-icon( href='') Más información


//- js
append scripts
    script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
            
        })