extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
    - var bodyClass = 'logo-white'
    - var title = 'Home'
//- ---

//- Contenido
block content
    section.home__banner
        .home__banner__content
            ul.home__content__box
                li.home__content__item(style=`background-image: url('${STATIC_URL}img/banne-1.png')`)
                    .home__box__container
                        .home__box__text
                            .home__banner__title
                                .home__title__asesor
                                    h3 Profesionales brindando
                                    h2 servicios de calidad
                            .home__banner__button
                                .home__title_button
                                        a.btn-general.btn-red( href='contacto.html') Contáctenos
                li.home__content__item(style=`background-image: url('${STATIC_URL}img/banne-1.png')`)
                    .home__box__container
                        .home__box__text
                            .home__banner__title
                                .home__title__asesor
                                    h3 Profesionales brindando
                                    h2 servicios de calidad
                            .home__banner__button
                                .home__title_button
                                        a.btn-general.btn-red( href='contacto.html') Contáctenos
                li.home__content__item(style=`background-image: url('${STATIC_URL}img/banne-1.png')`)
                    .home__box__container
                        .home__box__text
                            .home__banner__title
                                .home__title__asesor
                                    h3 Profesionales brindando
                                    h2 servicios de calidad
                            .home__banner__button
                                .home__title_button
                                        a.btn-general.btn-red( href='contacto.html') Contáctenos
            .home__banner__pager
                .home__pager
                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    span.linea__carga
                .home__pager
                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    span.linea__carga
                .home__pager
                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    span.linea__carga
    section.home-servicios
        .home-servicios__wrapp
            .home-servicios__box
                .home-servicios__item
                    .home__servicios__box__cont
                        .home-servicios__text.home__servicios--icono
                            img(src=`${STATIC_URL}img/icono-1.png` width="86" height="86")
                        .home-servicios__text.home__servicios--title
                            h3 Consultoría
                        .home-servicios__text.home__servicios--parrafo
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .
                        .home-servicios__text.home__servicios--button
                            a.btn-general.btn-icon( href='') Más información
                .home-servicios__item
                    .home__servicios__box__cont
                        .home-servicios__text.home__servicios--icono
                            img(src=`${STATIC_URL}img/icono-2.png` width="86" height="86")
                        .home-servicios__text.home__servicios--title
                            h3 Auditoría
                        .home-servicios__text.home__servicios--parrafo
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .
                        .home-servicios__text.home__servicios--button
                            a.btn-general.btn-icon( href='servicios-detalle.html') Más información
                .home-servicios__item
                    .home__servicios__box__cont
                        .home-servicios__text.home__servicios--icono
                            img(src=`${STATIC_URL}img/icono-3.png` width="86" height="86")
                        .home-servicios__text.home__servicios--title
                            h3 Capacitación
                        .home-servicios__text.home__servicios--parrafo
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .
                        .home-servicios__text.home__servicios--button
                            a.btn-general.btn-icon( href='servicios-detalle.html') Más información
    section.home-curso
        .home-curso__wrapp
            .home-curso__box__content
                .home-curso__box__text
                    .home-curso__title
                        .title__general.title__general--left
                            .title__general___title.title__general__title--normal
                                h3 Cursos
                                h2 Cursos especializados para empresas
                    .home-curso__parrafo
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                .home-curso__item__empresa
                    .home-curso__box__empresa
                        .home-curso__bgc(style=`background-image: url('${STATIC_URL}img/bgc-empresa.png')`)
                           .home-curso__bgc__text
                                h3 INICIO: 07 NOVIEMBRE
                                p Capacitar al personal involucrado en los proyectos de implementación delsistema de gestión de la seguridad de la información, haciendo énfasis en los contenidos de la norma ISO 27002
                                .home-curso__button
                                    a.btn-general.btn-icon( href='') Más información
                    .home-curso__noticias__boxes
                        .home-curso__news__box
                            .home-curso__news
                                .home-curso__news__board
                                .home-curso__news__bgc(style=`background-image: url('${STATIC_URL}img/new-bgc-01.png')`)
                                .home-curso__infor__board
                                    .home-curso__infor__title
                                        h3 INICIO: 07 NOVIEMBRE
                                    .home-curso__infor__text
                                        p Capacitar al personal en gestión de proyectos de acuerdo al cuerpo de conocimientos de metodología PRojects IN Controlled Environments ( PRINCE2)
                                    .home-curso__infor__button
                                        a.btn-general.btn-icon( href='') Más información
                        .home-curso__news__box
                            .home-curso__news
                                .home-curso__news__board
                                .home-curso__news__bgc(style=`background-image: url('${STATIC_URL}img/new-bgc-01.png')`)
                                .home-curso__infor__board
                                    .home-curso__infor__title
                                        h3 INICIO: 07 NOVIEMBRE
                                    .home-curso__infor__text
                                        p Capacitar al personal en gestión de proyectos de acuerdo al cuerpo de conocimientos de metodología PRojects IN Controlled Environments ( PRINCE2)
                                    .home-curso__infor__button
                                        a.btn-general.btn-icon( href='') Más información            
                .home-curso__button__all
                    a.btn-general.btn-red( href='cursos.html')  VER TODOS
    section.home-nosotros#homeconoce
        .item__general
            .item__general__container.item__general__container--one
                .item__general__content.item__general__content--one
                    .item__general__box.item__general__box--one.home-conocenos__item__pasos
                        .item__general__title.item__general__title--width
                            .title__general.title__general--left
                                .title__general___title.title__general__title--normal
                                    h3 Nosotros
                                    h2 Énterate mas sobre nosotros
                        .item__general__text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        .item__general__btn
                            a.btn-general.btn-red( href='') Ver más
                .item__general__img
                        .item__general__background--capa
                            img(src=`.${STATIC_URL}img/item-general-1.jpg`, alt="")
    section.home-logos
        .home-logos__wrapp
            .home-logo__content__box
                .home-logo__content__title
                    h2 NUESTROS CLIENTES
                ul.home-logo__box__img
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-2.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-4.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-1.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-2.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-2.png`)
                    li.home-logo__item
                        img(src=`${STATIC_URL}img/logo-clientes-2.png`)
    section.home-redes
        .home-redes__wrapp
            .home-redes__box
                .home-redes__box__item
                    .home-redes__box__title
                        h2
                            | Encuentranos en twitter como 
                            span @TUPIACASAC
                    .home-redes__box__img
                        img(src=`${STATIC_URL}img/twitter-img-01.png`)
                .home-redes__box__twitter
                    //- .home-redes__twitter__title
                    //-     h2
                    //-         | Tweets
                    //-         span  by
                    //-         i  @tupia
                    .home-redes__twitter__plugin
                        a.twitter-timeline(data-height='500', href='https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw')
                        script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
//- js
append scripts
    script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
    script(src=`${STATIC_URL}js/slick/slick.min.js`)
    script(src=`${STATIC_URL}js/jquery.waypoints.js`)
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
            var homeSlider = $('.home__content__box').bxSlider({
                mode: 'fade',
                controls:false,
                nextText: '',
                auto:true,
                prevText: '',
                pager:true,
                pause: 5000,
                onSliderLoad: function(currentIndex) {
                $('.home__content__box').children().eq(currentIndex).addClass('active')
                },
                onSlideBefore: function($slideElement){
                    $('.home__pager').removeClass('active')
                    $('.home__pager').eq($slideElement.index()).addClass('active')
                $('.home__content__box').children().removeClass('active');
                    setTimeout( function(){
                        $slideElement.addClass('active');
                    },500);
                }
            });
            $('.home-logo__box__img').slick({
                arrows: false,
                dots: false,
                infinite: true,
                autoplay: true,
                speed: 5000,
                cssEase: 'linear',
                slidesToShow: 5,
                slidesToScroll: 2,
                responsive: [
                        {
                        breakpoint: 980,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                            }
                        },
                        {
                        breakpoint: 540,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                            }
                        },
                        {
                        breakpoint: 330,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                            }
                        },
                    ]
            });
            var b4_animacion = $('#homeconoce');
                var b4_anima = $('.home-conocenos__item__pasos');
                b4_animacion.waypoint(function(direction) {
                    if (direction === 'down') {
                        b4_anima.addClass('active');
                    }
                    }, {
                        offset:'45%'
                });
            $('.home__pager').eq(0).addClass('active')
            $('.home__banner__pager .home__pager').click(function(e){
                homeSlider.goToSlide($(this).index())
                $('.home__pager').removeClass('active')
                $('.home__pager').eq($(this).index()).addClass('active')
            })
            
        })