extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Nosotros'
//- ---

//- Contenido
block content
	section.nosotros__servicios
		.item__general
			.item__general__container.item__general__container--one
				.item__general__content.item__general__content--one
					.item__general__box.item__general__box--one
						.item__general__title.item__general__title--width
							.title__general.title__general--left
								.title__general___title.title__general__title--normal
									h3 Nosotros
									h2 Profesionales brindando servicios de calidad
						.item__general__text
							p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
						.item__general__btn
							a.btn-general.btn-red( href='') Ver video
				.item__general__img
						.item__general__background--capa
							img(src=`.${STATIC_URL}img/item-general-1.jpg`, alt="")

	section.nosotros__info
		.nosotros__info__container
			.nosotros__info__content
				.nosotros__info__title
					.title__general.title__general--left
						.title__general___title.title__general__title--big
							h2 Preparate para capacitarte con nuestros cursos
				.nosotros__info__text
					.nosotros__info__box
						.nosotros__info__box__title
							h4 Misión
						.nosotros__info__box__text
							p Tupia Consultores y Auditores S.A. es una empresa peruana con 7 años en el mercado dedicada a la auditoria de sistemas, tecnologías, estándares y normas relativas a la seguridad de información; a la consultoría, asesoría y capacitación en temas de seguridad de sistemas, gobierno electrónico, riesgos y aplicación de buenas prácticas en el uso de tecnologías de información en la empresa. <br>Nos dedicamos también a los procesos de evaluación empresarial para la obtención de certificaciones relacionadas con seguridad y calidad de software (producto y proceso) así como a la evaluación del cumplimiento de normas técnicas vigentes en los mismos aspectos.
					.nosotros__info__box
						.nosotros__info__box__title
							h4 Visión
						.nosotros__info__box__text
							p Convertirnos en la empresa peruana referente en el mercado de la auditoría y seguridadde sistemas de información, presentando a la auditoría como una herramienta que otorga valor agregado al negocio.

	section.nosotros__valores
		.nosotros__valores__container
			.nosotros__valores__title
				.title__general.title__general--center
					.title__general___title.title__general__title--small
						h3 NUESTROS VALORES NOS REPRESETAN 
			.nosotros__valores__content
				- for (var x = 0; x < 4; x++)
					.nosotros__valores__box
						.nosotros__valores__img
							img(src=`.${STATIC_URL}img/nosotros-icon-1.png`, alt="")
						.nosotros__valores__box__title
							h4 Experiencia
						.nosotros__valores__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})