extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Servicios'
//- ---

//- Contenido
block content
	section.servicios
		.servicio__container
			.servicios__title
				.title__general.title__general--center
					.title__general___title.title__general__title--normal
						h2 Profesionales brindando servicios de calidad
			.servicios__title__description
				.servicios__title__description__text
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
		.servicios__content
			- for (var x = 0; x < 3; x++)
				a(href="servicios-detalle.html").servicios__item
					.servicios__box
						.servicios__img
							img(src=`.${STATIC_URL}img/servicios-img.jpg`, alt="")
						.servicios__text
							p Consultoría

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})