extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
	- var title = 'Servicio Detalle'
//- ---

//- Contenido
block content
	section.servicios__detalle__info
		.item__general
			.item__general__container.item__general__container--two
				.item__general__content.item__general__content--two
					.item__general__box.item__general__box--two
						.item__general__volver
							a(href="servicios.html") volver
						.item__general__title.item__general__title--two
							.title__general.title__general--left
								.title__general___title.title__general__title--normal
									h2 Auditoría
						.item__general__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci sem, pharetra quis magna vel, vulputate rutrum sapien. Vestibulum massa elit, elementum et scelerisque id, molestie a neque. Proin dapibus eu justo eget maximus. Nunc feugiat metus non enim mattis scelerisque. Quisque vel enim convallis dui tristique sagittis. Maecenas mattis sodales aliquam. Duis nunc justo, malesuada sed pretium id, lobortis eu ligula. In non molestie felis, eget efficitur tellus. Nullam gravida nisi rhoncus tellus consequat facilisis.
						.item__general__btn
							a.btn-general.btn-red( href='contacto.html') Contáctenos
				.item__general__img.item__general__img--two
					img(src=`.${STATIC_URL}img/item-general-2.jpg`, alt="")

	section.servicios__detalle__acordion
		.servicios__detalle__acordion__container
			- for (var x = 0; x < 2; x++)
				.servicios__detalle__acordion__content
					.servicios__detalle__acordion__box
						.servicios__detalle__acordion__title
							h4 AUDITORÍAS DE SISTEMAS, SEGURIDAD, TECNOLOGÍA DE INFORMACIÓN Y FORENSE
						.servicios__detalle__acordion__open
							.servicios__detalle__acordion__icon.servicios__detalle__acordion__icon--mas
								span.icon-ICONOS-07
							.servicios__detalle__acordion__icon.servicios__detalle__acordion__icon--menos
								span.icon-menos
					.servicios__detalle__acordion__text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci sem, pharetra quis magna vel, vulputate rutrum sapien. Vestibulum massa elit, elementum et scelerisque id, molestie a neque. Proin dapibus eu justo eget maximus. Nunc feugiat metus non enim mattis scelerisque. Quisque vel enim convallis dui tristique sagittis. Maecenas mattis sodales aliquam. Duis nunc justo, malesuada sed pretium id, lobortis eu ligula. In non molestie felis, eget efficitur tellus. Nullam gravida nisi rhoncus tellus consequat facilisis.

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			// acordión
			$('.servicios__detalle__acordion__content').eq(0).find('.servicios__detalle__acordion__box').addClass('active');
			var OpenSubmenu = $('.servicios__detalle__acordion__box.active');
			if (OpenSubmenu.hasClass('active')) {
				$('.servicios__detalle__acordion__text').hide();
				OpenSubmenu.closest('.servicios__detalle__acordion__content').find('.servicios__detalle__acordion__text').show();
			};
			// End

			// acordión	
			$('.servicios__detalle__acordion__box').click(function(e){
				e.preventDefault();
				if ($(this).hasClass('active')) {
					$(this).removeClass('active').parent().find('.servicios__detalle__acordion__text').stop().slideUp();
				}else{
					$('.servicios__detalle__acordion__box').removeClass('active');
					$('.servicios__detalle__acordion__text').stop().slideUp();
					$(this).addClass('active').parent().find('.servicios__detalle__acordion__text').stop().slideToggle();
				};
			});
			// End		
		})