.clientes
	padding-top: 90px

.clientes__title__container
	max-width: 590px
	margin: auto
	padding: 0px 20px
	margin-bottom: 80px

.clientes__title
	padding-bottom: 45px

.clientes__description
	font-family: $t-0
	font-size: 18px
	color: $c-0
	text-align: center
	p
		margin-bottom: 0

.clientes__container
	max-width: 1200px
	margin: auto
	padding: 0px 20px


.clientes--padre
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-center
	align-items: center
	transition: all 0.35s linear
	&.margen
		margin-bottom: 180px

.clientes__box
	width: 16.5%
	margin: 0 8%
	padding: 30px 0px

.clientes__img
	margin: auto
	position: relative
	display: block
	cursor: pointer
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $c-4
		opacity: 0
		transition: all .5s ease
	&:hover
		.clientes__info__logo
			opacity: 1
			transition: all .5s ease
	&:hover:before
		opacity: 0.8
		transition: all .5s ease
	&.active
		.clientes__info__logo
			opacity: 1
			transition: all .5s ease
	&.active:before
		opacity: 0.8
		transition: all .5s ease

.clientes__info__logo
	font-family: "ProximaNova-Regular", sans-serif
	font-size: 15px
	color: white
	text-transform: uppercase
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: flex
	width: 150px
	height: 16px
	opacity: 0
	transition: all .5s ease

.clientes__info
	position: absolute
	width: 100%
	height: 0px
	left: 0
	right: 0
	margin: auto
	visibility: hidden
	transition: all 0.40s linear
	overflow: hidden
	&.active
		height: 200px
		visibility: visible

.clientes__info__container
	max-width: 850px
	margin: auto
	padding: 50px 20px
	position: relative
	overflow: hidden
	box-sizing: border-box

.clientes__info__content
	overflow: hidden
	text-align: center

.clientes__info__fecha
	font-family: $t-0
	font-size: 21px
	color: $c-0
	text-transform: uppercase
	padding-bottom: 10px
	p
		margin-bottom: 0

.clientes__info__title
	padding-bottom: 12px
	h4
		font-family: $t-3
		font-size: 20px
		color: $c-4
		margin-bottom: 0
		text-transform: uppercase

.clientes__info__text
	font-family: $t-0
	font-size: 17px
	color: $c-0
	p
		margin-bottom: 0

.clientes__capa
	background: $negro
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	opacity: 0
	visibility: hidden
	transition: all 0.15s linear
	z-index: 1200

.clientes__icon--responsive
	position: absolute
	top: 15px
	right: 15px
	font-size: 20px
	color: $c-0
	opacity: 0
	visibility: hidden

@media screen and (max-width: 1030px)
	.clientes__box
		width: 20.5%
		margin: 0 6%

@media screen and (max-width: 800px)
	.clientes__box
		width: 24.5%
		margin: 0 4%

	.clientes__description
		font-size: 16px

	.clientes__title__container
		margin-bottom: 40px

	.clientes__info__text
		font-size: 15px

	.clientes__info__title
		h4
			font-size: 18px

	.clientes__info__fecha
		font-size: 19px

@media screen and (max-width: 680px)
	.clientes__box
		width: 32.5%
		margin: 0 8%

	.clientes__description
		font-size: 15px

	.clientes__title__container
		margin-bottom: 20px

	.clientes__capa
		&.active
			opacity: 0.8
			visibility: visible

	.clientes--padre
		&.margen
			margin-bottom: 0

	.clientes__info
		width: 90%
		height: 0
		position: fixed
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 1220
		opacity: 1
		filter: none
		visibility: visible
		background: $blanco
		transition: all 0.30s linear

	.clientes__content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center

	.clientes__icon--responsive
		opacity: 1
		visibility: visible

	.clientes__info__container
		padding: 59px 20px

	.clientes__info__fecha
		font-size: 17px

	.clientes__info__title
		h4
			font-size: 16px

	.clientes__info__text
		font-size: 14px

	.clientes__box
		padding: 10px 0px

@media screen and (max-width: 520px)
	.clientes__box
		width: 39.5%
		margin: 0 5%

	.clientes__title
		padding-bottom: 25px

@media screen and (max-width: 400px)
	.clientes__box
		width: 65%
		margin: auto

	.clientes__info__container
		padding: 50px 20px 

	.clientes__info__fecha
		font-size: 16px

	.clientes__info__text
		font-size: 13px

@media screen and (max-width: 330px)
	.clientes__box
		width: 80%