.mapcontacto
	a
		color: inherit
		&:focus
			outline: none
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 500px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%
		.abrir-map, .cerrar-map
			display: inline-block
			height: 35px
			line-height: 35px
			cursor: pointer
			background: c-1
			color: blanco
			font-family: t-2
			border-radius: 5px
			padding: 0 30px
			display: none
			&:hover
				background: c-1
		.cerrar-map
			position: absolute
			left: 10px
			bottom: 30px
			z-index: 100

.contacto__title
	padding-top: 70px
	padding-bottom: 60px
			
.contacto__title__container
	max-width: 620px
	margin: auto
	padding: 0px 20px

.contacto__title__text
	padding-bottom: 40px

.contacto__text
	font-family: $t-0
	font-size: 18px
	color: $c-0
	text-align: center
	p
		margin-bottom: 0

.contacto__formulario
	padding-bottom: 100px

.contacto__formulario__container
	max-width: 1010px
	margin: auto
	padding: 0px 20px

.contacto__form__content
	li
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center

.contact__input
	width: 100%
	height: 46px
	padding-left: 6px
	padding-right: 6px
	font-size: 14px
	font-family: $t-2
	box-sizing: border-box
	border: none
	border-bottom: 1px solid $c-7

.contacto__form__input
	width: 40%
	height: 100%
	position: relative
	padding-bottom: 45px
	margin: 0 5%

.contacto__form--textarea
	width: 100%

.label, .label--textarea
	position: absolute
	transition: all .3s
	text-transform: uppercase
	font-size: 14px
	font-family: $t-0
	color: $c-7
	pointer: text

.contacto__form__input .label
	top: 20px
	left: 6px

.contacto__form__input.active .label
	font-size: 10px
	top: -5px

.contacto__form__input:hover .label
	font-size: 10px
	top: -5px

.contacto__form__input.active .contact__input
	border-bottom-color: $c-2

.contacto__formulario__btn
	text-align: center
	padding-top: 30px
	.btn-red
		padding: 15px 60px

.contacto__info__container
	max-width: 725px
	margin: auto
	padding: 0px 20px
	margin-left: 10%
	margin-bottom: -160px

.contacto__info__content
	background: $c-5
	padding-top: 30px
	padding-bottom: 10px
	position: relative
	z-index: 99
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 108px
		background-image: url(../img/contacto-img.png)

.contacto__info__box
	max-width: 540px
	margin: auto
	padding: 0px 20px
	margin-left: 16%

.contacto__info__item
	padding-bottom: 20px

.contacto__info__title
	padding-bottom: 10px
	h4
		font-family: $t-0
		font-size: 14px
		color: $blanco
		margin-bottom: 0
		text-transform: uppercase

.contacto__info__text
	font-family: $t-1
	font-size: 17px
	color: $blanco
	a
		display: block
		color: $blanco
		padding-bottom: 5px

@media screen and (max-width: 1024px)
	.contacto__info__container
		margin-left: auto
		margin-bottom: -130px

@media screen and (max-width: 640px)
	.contacto__form__input
		width: 100%
		padding-bottom: 30px

	.contacto__text
		font-size: 16px

	.mapcontacto 
		.cnt-map 
			.box-map
				height: 420px

	.contacto__formulario
		padding-bottom: 70px

	.contacto__info__container
		margin-bottom: -50px

@media screen and (max-width: 480px)
	.contacto__info__text
		font-size: 15px

	.contacto__info__title
		h4
			font-size: 13px

	.contacto__info__container
		padding: 0px 10px

	.contacto__title
		padding-bottom: 40px

	.contacto__text
		font-size: 14px

@media screen and (max-width: 390px)
	.contacto__info__content
		&:before
			display: none

	.contacto__info__box
		margin-left: auto