.curso__detalle__info
	padding-top: 108px
	padding-bottom: 125px

.curso__detalle__info__container
	max-width: 1260px
	padding: 0px 20px
	margin: auto

.curso__detalle__info__content
	width: 55%
	background: $c-2
	margin: auto
	margin-right: 0
	margin-top: -90px
	position: relative

.curso__detalle__info__box
	padding: 40px 60px

.curso__detalle__info__title
	padding-bottom: 20px
	h4
		font-family: $t-1
		font-size: 27px
		color: $blanco
		margin-bottom: 0
		display: inline-block
		padding-left: 30px

.icon__curso__detalle
	color: $blanco
	font-size: 30px

.curso__detalle__info__fecha
	font-family: $t-1
	font-size: 27px
	color: $blanco
	text-transform: uppercase
	padding-bottom: 25px
	p
		margin-bottom: 0

.curso__detalle__info__costo
	font-family: $t-1
	font-size: 27px
	color: $blanco
	position: relative
	padding-left: 20px
	p
		margin-bottom: 0
	&:before
		content: ''
		position: absolute
		left: 0
		top: 10px
		width: 6px
		height: 6px
		background: $blanco
		border-radius: 100%

.curso__detalles__tabs__btn
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.tab--info
	width: 25%
	font-family: $t-2
	font-size: 20px
	color: $c-4
	text-transform: uppercase
	opacity: 0.4
	padding: 20px
	cursor: pointer
	transition: all .7s ease
	margin: auto
	margin-bottom: 0
	text-align: center
	&.active
		background: linear-gradient(to bottom, rgba(197,213,225,0.3) 0%, rgba(197,213,225,0.3) 100%)
		opacity: 1
		border-top-left-radius: 10px
		border-top-right-radius: 10px
		transition: all .7s ease

.cursos__detalles__tabs__item
	background: linear-gradient(to bottom, rgba(197,213,225,0.3) 0%, rgba(197,213,225,0) 100%)
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible
		position: relative
		transition: all .7s ease

.cursos__detalles__tabs__content
	max-width: 1150px
	margin: auto
	padding: 0px 20px

.cursos__detalles__tabs__info
	padding-top: 80px
	padding-bottom: 80px

.cursos__detalles__tabs__text
	font-family: $t-0
	font-size: 19px
	color: $c-0
	p
		margin-bottom: 0
		padding-bottom: 20px
		text-align: justify
	li
		position: relative
		padding-left: 20px
		&:before
			content: ''
			position: absolute
			left: 0
			top: 10px
			width: 5px
			height: 5px
			background: $c-0
			border-radius: 100%

.cursos__detalles__tabs__download
	font-family: $t-2
	font-size: 20px
	color: $c-2
	text-transform: uppercase
	padding-top: 98px
	padding-bottom: 30px
	a
		color: $c-2
		position: relative
		padding-left: 75px
		&:before
			content: '\e910'
			position: absolute
			top: -10px
			left: 0
			color: $c-2
			font-family: $icomoon
			font-size: 38px

.cursos__detalles__tabs__list
	h4
		font-family: $t-3
		font-size: 21px
		color: $c-2
		margin-bottom: 0
		padding-bottom: 50px
		text-transform: uppercase
.cursos__detalles__tabs__lisbox
	padding-left: 50px
	li
		font-family: $t-3
		font-size: 21px
		color: $c-4
		list-style: decimal
		padding-bottom: 25px

.cursos__detalles__tabs__listtwo
	padding-top: 22px
	li
		font-family: $t-0
		font-size: 17px
		color: $c-0
		list-style: none
		padding-bottom: 6px
		position: relative
		padding-left: 20px
		&:before
			content: ''
			position: absolute
			left: 0
			top: 7px
			width: 3px
			height: 3px
			background: $c-2
			border-radius: 100%

@media screen and (max-width: 1030px)
	.curso__detalle__info__title
		h4
			font-size: 25px

	.curso__detalle__info__fecha
		font-size: 23px

	.curso__detalle__info__costo
		font-size: 23px
	
	.curso__detalle__info__box
		padding: 30px 60px

	.curso__detalle__info__content
		margin-top: -60px

	.tab--info
		font-size: 17px

	.cursos__detalles__tabs__text
		font-size: 17px

	.cursos__detalles__tabs__list
		h4
			font-size: 19px

	.cursos__detalles__tabs__lisbox
		li
			font-size: 19px

	.cursos__detalles__tabs__listtwo
		li
			font-size: 16px

@media screen and (max-width: 980px)
	.curso__detalle__info__content
		margin-top: 30px
		margin-right: auto
		width: 80%

	.tab--info
		width: 33%
		padding: 20px 0px

	.curso__detalle__info
		padding-bottom: 90px

@media screen and (max-width: 780px)
	.cursos__detalles__tabs__info
		padding-top: 60px
		padding-bottom: 60px

	.curso__detalle__info__fecha
		font-size: 23px

	.cursos__detalles__tabs__download
		padding-top: 50px
		padding-bottom: 20px
		font-size: 15px
		a
			padding-left: 55px
			&:before
				font-size: 26px

	.cursos__detalles__tabs__text
		font-size: 14px

	.tab--info
		font-size: 15px

	.cursos__detalles__tabs__list
		h4
			font-size: 17px
			padding-bottom: 35px

	.cursos__detalles__tabs__lisbox
		li
			font-size: 17px

	.cursos__detalles__tabs__listtwo
		li
			font-size: 14px

	.curso__detalle__info__fecha
		font-size: 20px

	.curso__detalle__info__costo
		font-size: 20px

@media screen and (max-width: 550px)
	.curso__detalle__info__content
		width: 100%

	.curso__detalle__info__box
		padding: 30px 40px

	.tab--info
		width: 85%
		padding: 25px 15px
		text-align: left 
		border-bottom: 1px solid $c-4
		margin-bottom: 10px
		position: relative
		&:before
			content: ''
			position: absolute
			bottom: -4px
			left: 15px
			background: $c-2
			width: 100px
			height: 8px
			opacity: 0
			transition: all .5s
		&.active
			background: $blanco
		&.active:before
			opacity: 1
			transition: all .5s

	.cursos__detalles__tabs__item
		background: $blanco

	.curso__detalle__info
		padding-bottom: 65px

@media screen and (max-width: 400px)
	.curso__detalle__info__box
		padding: 30px 20px

	.cursos__detalles__tabs__lisbox
		padding-left: 20px