.cursos
	padding-top: 30px
	.home-curso__box__text
		padding-top: 80px
.home-cursos__box__reverse
	padding-top: 30px
	flex-direction: row-reverse
	.home-curso__noticias__boxes
		width: 48%
	.home-curso__box__empresa
		width: 50%
	
.home-curso__all
	width: 100%
	height: 100px
	background-color: rgba(64, 84, 96, 0.5)
	text-align: center
	display: flex
	justify-content: center
	border-radius: 4px
	margin-top: 43px
	margin-bottom: 43px
.home-curso__buttonall__button
	display: flex
	align-items: center
	h3
		font-size: 14px
		color: white
		font-family: $c-0
		margin: auto
	span
		font-size: 30px
		color: white
		padding-left: 40px
@media screen and (max-width: 780px)
	.cursos .home-curso__box__text
		padding-top: 30px
	.home-cursos__box__reverse
		.home-curso__noticias__boxes
			width: 100%
		.home-curso__box__empresa
			width: 100%