.error__background
	background-repeat: no-repeat
	background-size: cover
	background-position: center right
	position: relative
	&:before
		content: ''
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 73%, rgba(255,255,255,1) 100%)

.error__container
	max-width: 500px
	margin: auto
	padding: 0px 20px
	padding-top: 12%
	padding-bottom: 12%
	margin-right: 10%

.error__content
	position: relative
	z-index: 10

.error__title
	text-align: center
	h2
		font-family: $t-1
		font-size: 86px
		color: $c-4
		margin-bottom: 0
		text-transform: uppercase

.error__title__two
	padding-bottom: 45px
	text-align: center
	h3
		font-family: $t-2
		font-size: 20px
		color: $c-2
		margin-bottom: 0
		text-transform: uppercase

.error__text
	padding-bottom: 35px
	font-family: $t-0
	font-size: 18px
	color: $c-0
	text-align: center
	p
		margin-bottom: 0

.error__btn
	text-align: center
	.btn-red
		padding: 15px 60px

@media screen and (max-width: 640px)
	.error__container
		padding-top: 80px
		padding-bottom: 80px
		margin-right: auto

	.error__title
		h2
			font-size: 70px

	.error__title__two
		h3
			font-size: 18px

	.error__text
		font-size: 16px

@media screen and (max-width: 390px)
	.error__btn 
		.btn-red
			padding: 15px 50px

	.error__text
		font-size: 14px

	.error__title__two
		h3
			font-size: 17px

	.error__title
		h2
			font-size: 60px
