.home-logos__wrapp
    max-width: 1200px
    margin: auto
.home-logos__item
    width: 200px
    height: 200px
    img
        max-width: 100%
        height: auto
.home-logo__content__box
    padding-top: 72px
    padding-bottom: 94px
.home-logo__content__title
    padding-bottom: 53px
    h2
        font-size: 16px
        text-transform: uppercase
        font-family: $t-2
        color: $c-0
        text-align: center
.home-clientes__box
    position: relative
.home-logo__box__img
    display: flex

.home-logo__item
    width: 200px
    height: 200px
    img
        height: auto
        max-width: 80%
@media screen and (max-width: 550px)
    .home-logo__content__title
        padding-bottom: 0
    .home-logo__content__box
        padding-bottom: 10px
        padding-top: 40px
