
.home__banner
    position: relative
.home__banner__content
    .bx-wrapper .bx-pager
        bottom: 0
        bottom: 110px
        z-index: 55
        left: 17px
    .bx-wrapper .bx-pager.bx-default-pager a.active
        background-color: $c-0
    .bx-wrapper .bx-pager.bx-default-pager a:hover
        background: $c-0
.home__banner__content
    overflow: hidden
    position: relative

.home__content__item
    height: 700px
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    display: flex !important
    justify-content: flex-start
    align-items:  flex-start
    transition: all 500ms ease-out
    position: relative
    &:before
        content: ""
        left: 0
        right: 0
        width: 100%
        height: 100%
        position: absolute
        background: rgba(39, 49, 64, 0.5)

.home__banner__pager
    position: absolute
    right: 0
    padding-right: 5%
    z-index: 58
    top: 0
    bottom: 0
    transform: translateY(-50px)
    margin: auto
    text-align: center
    height: 0
.linea__carga
    position: absolute
    height: 2px
    width: 100%
    background: rgba(255, 255, 255, 0.30)
    left: 0
    width: 280px
    &:before
        content: ""
        left: 0
        width: 0
        background: $c-2
        height: 2px
        transition-delay: 4s
        z-index: 10
        transition: width 3s cubic-bezier(0.69, 0.05, 0.61, 0.77)
        position: absolute
    &:after
        content: ""
        position: absolute
        left: 0
        width: 0
        transition-delay: 4s        
        background: red
        transition: width 0.8s cubic-bezier(0.69, 0.05, 0.61, 0.77)
    

.home__pager
    margin-bottom: 20px
    opacity: 0.3
    h3
        font-size: 15px
        font-family: $t-0
        color: $blanco
        max-width: 320px
        text-align: left
    &.active
        opacity: 1
        .linea__carga
            &:before
                width: 100%
            &:after
                width: 100%
        .home__pager
            opacity: 1

.home__title__asesor
    h3
        font-size: 52px
        font-family: $t-0
        color: $blanco
    h2
        font-family: $t-1
        font-size: 52px
        color: $blanco
.home__content__item
    &.active
        .home__banner__title
            transform: translate(0px)
            opacity: 1
        .home__banner__button
            transform: translate(0px)
            opacity: 1
        
.home__banner__title
    transform: translate(50px)
    opacity: 0
    transition: all 750ms ease-out
.home__banner__button
    margin-top: 50px
    transition: all 950ms ease-out
    opacity: 0
    transform: translate(50px)
.home__box__container
    max-width: 1000px
    margin: auto
    margin-left: 0
    padding-left: 15%
    box-sizing: border-box
.home__box__text
    margin-right: 0
    margin-left: auto
.prospecta__whstapp
    position: relative
.prospecta__icono
    position: fixed
    z-index: 88
    bottom: 39px
    right: 19px
    font-size: 65px
    background: $c-4
    margin: auto
    border-radius: 50%
    width: 70px
    height: 70px
    display: flex
    transition: all 450ms ease
    &:hover
        box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.75)
.icono-watspp
    font-size: 45px
    color: white
@media screen and (max-width: 980px)
    .home__box__container
        padding-left: 20px
@media screen and (max-width: 768px)
    .home__content__item
        align-items: center
        justify-content: center
    .home__box__text
        padding-right: 0
    .home__botton__prestamos
        display: none
    .prospecta__icono
        display: none

@media screen and (max-width: 550px)
    .home__box__text
        text-align: center
    .home__content__item
        height: 350px
    .home__banner__content .bx-wrapper .bx-pager
        bottom: 20px
        left: 0
    .home__content__item
        position: relative
        &:before
            content: ""
            left: 0
            right: 0
            bottom: 0
            width: 100%
            height: 100%
            background-color: rgba(227, 227, 227, 0.55)
            position: absolute
    .home__title__asesor
        h3
            font-size: 28px
        h2
            font-size: 28px
    .home__banner
        position: relative
        &:before
            content: none
