.home-curso__wrapp
    max-width: 1200px
    margin: auto
    padding-left: 25px
    padding-right: 25px
.home-curso__bgc__text
    padding-right: 25px
    padding-left: 25px
.home-curso__button
    padding-bottom: 27px
    .btn-icon
        color: white
        &:before
            color: white
        &:after
            color: white
.home-curso__bgc
    height: 417px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    width: 100%
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    &:before
        content: ""
        left: 0
        right: 0
        width: 100%
        height: 100%
        position: absolute
        background: linear-gradient(to bottom, rgba(127,127,127,0) 0%,rgba(85,85,85,0.16) 28%,rgba(45,45,45,0.32) 57%,rgba(39,39,39,0.35) 62%,rgba(15,15,15,0.44) 82%,rgba(8,8,8,0.47) 90%,rgba(0,0,0,0.5) 100%)
.home-curso__news__bgc
    height: 195px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    width: 100%
   
.home-curso__news__board
    height: 195px
    background-color: #dfe4e7
    width: 100%
.home-curso__news
    display: flex
    position: relative
.home-curso__infor__board
    position: absolute
    left: 0
    padding-right: 25px
    padding-left: 25px
    background: white
    top: 0
    max-width: 330px
    display: flex
    left: 20px
    margin: auto
    bottom: 0
    height: 140px
    flex-direction: column
    justify-content: center
    .home-curso__infor__title
        h3
            font-size: 12px
            font-family: $t-2
            color: $c-1
    .home-curso__infor__text
        p
            font-size: 14px
            font-family: $t-3
            margin: auto

.home-curso__item__empresa
    display: flex
    justify-content: space-between
.home-curso__box__empresa
    width: 48%
    h3
        font-size: 12px
        font-family: $t-2
        color: $blanco
        position: relative
        z-index: 2
    p
        font-size: 15px
        font-family: $t-3
        color: $blanco
        position: relative
        z-index: 2
.home-curso__noticias__boxes
    width: 50%
    display: flex
    flex-direction: column
    justify-content: space-between
.home-curso__parrafo
    width: 49%
    padding-left: 54px
    padding-top: 42px
    p
        font-size: 14px
        font-family: $t-0
        color: $c-0
        margin: auto
.home-curso__box__text
    display: flex
    padding-bottom: 60px
    padding-top: 116px
    align-items: center
    justify-content: space-between
.home-curso__title
    width: 49%
.home-curso__infor__button
    margin-top: 14px
.home-curso__button__all
    text-align: center
    padding-top: 102px
    padding-bottom: 62px
@media screen and (max-width: 1024px)
    .home-curso__box__text
        padding-top: 56px
@media screen and (max-width: 780px)
    .home-curso__item__empresa
        flex-direction: column
    .home-curso__box__empresa
        width: 100%
    .home-curso__noticias__boxes
        width: 100%
        flex-direction: column
    .home-curso__title
        width: 100%
    .home-curso__parrafo
        width: 100%
        padding-left: 0
    .home-curso__box__text
        flex-direction: column
    .home-curso__news__box
        padding-top: 40px
    .home-curso__box__empresa 
        h3
            padding-right: 15px
            padding-left: 15px
        p
            padding-right: 15px
            padding-left: 15px
    .home-curso__infor__board
        padding-top: 20px
    .home-curso__button__all
        padding-top: 35px
        padding-bottom: 35px
    
@media screen and (max-width: 480px)
    .home-curso__box__text
        padding-top: 0
    .home-curso__news
        flex-direction: column
    .home-curso__infor__board
        position: static
    .home-curso__news__board
        display: none
    .home-curso__bgc
        height: 307px
    .home-curso__parrafo
        padding-top: 20px
    .home-curso__box__text
        padding-bottom: 40px
    
    
