.home-servicios
	padding-top: 0
	bottom: 41px
	z-index: 56
	position: relative
.home-servicios__wrapp
	max-width: 1200px
	margin: auto
.home-servicios__box
	display: flex
	justify-content: space-between
.home-servicios__item
	background: white
	width: 30%
	box-shadow: -2px 9px 20px 0px rgba(0, 0, 0, 0.25)
	border-radius: 11px
.home__servicios__box__cont
	max-width: 325px
	margin: auto
	padding-left: 15px
	padding-right: 15px
	padding-top: 25px
	padding-bottom: 55px
.home__servicios--icono
	width: 50px
	height: 47px
	padding-top: 15px
	padding-bottom: 20px
	img
		max-width: 100%
		height: auto
		display: block
.home__servicios--title
	h3
		font-size: 25px
		font-family: $t-3
		color: $c-0
.home__servicios--parrafo
	p
		font-size: 15px
		font-family: $t-0
		margin: auto
.home__servicios--button
	padding-top: 45px
@media screen and (max-width: 1024px)
	.home-servicios
		bottom: 0
@media screen and (max-width: 780px)
	.home-servicios__box
		flex-direction: column
	.home-servicios__item
		width: 100%
		margin-left: auto
		margin-right: auto
		max-width: 480px
		margin-top: 32px
@media screen and (max-width: 550px)
	.home-servicios
		padding-bottom: 20px
		padding-top: 20px
	.home-servicios__item
		width: 100%
		box-shadow: inherit
	.home__servicios__box__cont
		padding-bottom: 20px
	.home-servicios__item
		margin-top: 0
@media screen and (max-width: 480px)
	.home__servicios__box__cont
		display: flex
		align-items: center
		flex-direction: column
	.home__servicios--parrafo
		p
			text-align: center