.home-redes__wrapp
    max-width: 1200px
    margin: auto
.timeline-Header-title
        font-size: 35px !important
.home-redes__box
    display: flex
    padding-left: 20px
    padding-right: 20px
    padding-top: 46px
.home-redes__box__item
    width: 50%
.home-redes__box__twitter
    width: 49%
    align-items: flex-start
    a
        color: $c-3 !important
blockquote.twitter-tweet
    display: inline-block
    padding: 16px
    margin: 10px 0
    max-width: 468px
    border: red 1px solid
    border-top-color: red
    border-bottom-color: #bbb
    border-radius: 5px
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
    font: bold 14px/18px Helvetica, Arial, sans-serif
    color: #000
    p
        font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif
        margin: 0 5px 10px 0
    a[href^="https://twitter.com"]
        font-weight: normal
        color: red
        font-size: 12px
.home-redes__box__img
    width: 484px
    height: 599px
    margin: auto
    img
        max-width: 100%
        height: auto
.home-redes__twitter__plugin
    width: 100%
    height: 500px

.home-redes__box__title
    h2
        font-size: 35px
        font-family: $t-1
        color: $c-1
        span
            color: $c-2
.home-redes__twitter__title
    h2
        font-size: 33px
        font-family: $t-2
        color: $c-1
        span
            font-size: 24px
            color: $c-0
        i
            color: $c-2
            font-style: normal
            font-size: 23px
@media screen and (max-width: 980px)
    .home-redes__box__img
        display: none
    .home-redes__box
        flex-direction: column
    .home-redes__twitter__title
        display: none
    .home-redes__box__twitter
        width: 100%
@media screen and (max-width: 550px)
    .home-redes__box
        padding-top: 0
        