.nosotros__servicios
	padding-bottom: 76px
	padding-top: 90px

.nosotros__info
	padding-bottom: 85px

.nosotros__info__container
	max-width: 1240px
	margin: auto
	padding: 0px 20px

.nosotros__info__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.nosotros__info__title
	width: 30%
	margin: auto

.nosotros__info__text
	width: 51%

.nosotros__info__box
	padding-bottom: 25px

.nosotros__info__box__title
	padding-bottom: 30px
	h4
		font-family: $t-3
		font-size: 15px
		color: $c-0
		margin-bottom: 0
		text-transform: uppercase

.nosotros__info__box__text
	font-family: $t-0
	font-size: 18px
	color: $c-0
	text-align: justify
	p
		margin-bottom: 0

.nosotros__valores
	padding-bottom: 80px

.nosotros__valores__container
	max-width: 1200px
	margin: auto
	padding: 0px 20px

.nosotros__valores__title
	padding-bottom: 70px

.nosotros__valores__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.nosotros__valores__box
	width: 17%
	margin: auto

.nosotros__valores__img
	width: 47px
	padding-bottom: 20px

.nosotros__valores__box__title
	padding-bottom: 25px
	h4
		font-family: $t-3
		font-size: 15px
		color: $c-0
		margin-bottom: 0
		text-transform: uppercase
		letter-spacing: 1px

.nosotros__valores__text
	font-family: $t-0
	font-size: 14px
	color: $c-0
	p
		margin-bottom: 0

@media screen and (max-width: 990px)
	.nosotros__info__box__text
		font-size: 14px

	.nosotros__info__title
		width: 45%

	.nosotros__valores__box
		width: 20%

@media screen and (max-width: 700px)
	.nosotros__info__title
		width: 80%
		margin: auto
		padding-bottom: 30px

	.nosotros__info__text
		width: 80%
		margin: auto

	.nosotros__servicios
		padding-bottom: 60px

	.nosotros__info
		padding-bottom: 60px

	.nosotros__valores__box
		width: 40%
		padding-bottom: 35px

	.nosotros__valores
		padding-bottom: 50px

	.nosotros__valores__title
		padding-bottom: 50px
@media screen and (max-width: 550px)
	.nosotros__valores__img
		margin: auto
	.nosotros__valores__box__title
		text-align: center
	.nosotros__valores__text
		text-align: center
@media screen and (max-width: 480px)
	.nosotros__info__title
		width: 100%

	.nosotros__info__text
		width: 100%


@media screen and (max-width: 350px)
	.nosotros__valores__box
		width: 100%