.servicios
	padding-top: 73px
	padding-bottom: 

.servicio__container
	padding-bottom: 85px
	padding-top: 70px

.servicios__title
	max-width: 420px
	margin: auto
	padding: 0px 20px
	margin-bottom: 60px

.servicios__title__description
	max-width: 592px
	margin: auto
	padding: 0px 20px

.servicios__title__description__text
	font-family: $t-0
	font-size: 18px
	color: $c-0
	text-align: center
	p
		margin-bottom: 0

.servicios__content
	max-width: 1200px
	margin: auto
	padding: 0px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.servicios__item
	width: 31%
	padding: 0px 10px
	margin-bottom: 80px
	border-bottom: 1px solid $c-3
	margin-left: 0
	margin-right: 0

.servicios__box
	position: relative
	&:before
		content: ''
		width: 100%
		height: 2px 
		position: absolute
		bottom: -2px
		left: 0
		background: $c-2
		opacity: 0
		transform: scaleX(0)
		transition: transform .7s cubic-bezier(.19,1,.22,1),background .6s ease
		transform-origin: right
	&:after
		content: '\e90c'
		position: absolute
		font-family: $icomoon
		right: 17px
		bottom: 16px
		color: $c-2
		font-size: 18px
	&:hover:before
		opacity: 1
		transform-origin: left
		transform: scaleX(1)
	&:hover:after
		transition: all 1s
		transform: rotate(360deg)

.servicios__img
	padding-bottom: 35px

.servicios__text
	font-family: $t-3
	font-size: 25px
	color: $c-4
	padding-bottom: 55px
	padding-left: 15px
	p
		margin-bottom: 0

@media screen and (max-width: 900px)
	.servicios__item
		width: 46%
		padding: 0 2%

	.servicio__container
		padding-bottom: 60px

	.servicios__title
		margin-bottom: 30px

	.servicios__title__description__text
		font-size: 16px

@media screen and (max-width: 570px)
	.servicios__item
		width: 80%
		padding: 0
		margin: auto
		margin-bottom: 70px

	.servicios__title__description__text
		font-size: 14px

@media screen and (max-width: 420px)
	.servicios__item
		width: 100%
	