.servicios__detalle__info
	padding-top: 120px
	padding-bottom: 90px

.servicios__detalle__acordion
	background: linear-gradient(to right, rgba(223,228,231,0.2) 0%, rgba(202,218,230,0) 100%)

.servicios__detalle__acordion__container
	max-width: 1160px
	margin: auto
	padding: 80px 20px

.servicios__detalle__acordion__content
	padding-bottom: 20px

.servicios__detalle__acordion__box
	padding: 15px 20px
	border-bottom: 1px solid #d1d2d3
	position: relative
	cursor: pointer
	.servicios__detalle__acordion__icon--menos
		display: none
		transition: all .3s ease
	&.active
		.servicios__detalle__acordion__icon--menos
			display: block
			transition: all .3s ease
		.servicios__detalle__acordion__icon--mas
			display: none
			transition: all .3s ease

.servicios__detalle__acordion__title
	padding-right: 35px
	h4
		font-family: $t-0
		font-size: 16px
		color: $c-0
		margin-bottom: 0

.servicios__detalle__acordion__open
	position: absolute
	right: 10px
	top: 12px

.servicios__detalle__acordion__icon
	width: 23px
	height: 23px
	text-align: center
	span
		color: $c-0
		text-align: center
		line-height: 1.5

.icon-menos
	position: relative
	&:before
		content: ''
		position: absolute
		width: 16px
		height: 3px
		background: $c-0
		top: 12px
		left: 0


.servicios__detalle__acordion__text
	padding: 40px 25px
	font-family: $t-0
	font-size: 18px
	color: $c-0
	// margin-right: 28px
	text-align: justify
	p
		margin-bottom: 0

@media screen and (max-width: 990px)
	.servicios__detalle__acordion__title
		h4
			font-size: 15px

	.servicios__detalle__acordion__text
		padding: 25px
		font-size: 14px

	.servicios__detalle__acordion__container
		padding: 50px 20px

@media screen and (max-width: 700px)
	.servicios__detalle__info
		padding-top: 50px
		padding-bottom: 30px

@media screen and (max-width: 480px)
	.servicios__detalle__acordion__container
		padding: 40px 20px

	.servicios__detalle__acordion__content
		padding-bottom: 10px

	.servicios__detalle__acordion__box
		padding: 12px 5px

	.servicios__detalle__acordion__text
		padding: 25px 10px

	.servicios__detalle__acordion__title
		h4
			font-size: 14px