extends ./_common/base.pug

block content
	.item__general
		.item__general__container.item__general__container--one
			.item__general__content.item__general__content--one
				.item__general__box.item__general__box--one
					.item__general__title.item__general__title--width
						.title__general.title__general--left
							.title__general___title.title__general__title--normal
								h3 Nosotros
								h2 Profesionales brindando servicios de calidad
					.item__general__text
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
					.item__general__btn
						a.btn-general.btn-red( href='') Ver video
			.item__general__img
					.item__general__background--capa
						img(src=`.${STATIC_URL}img/item-general-1.jpg`, alt="")

	br
	br
	br

	.item__general
		.item__general__container.item__general__container--two
			.item__general__content.item__general__content--two
				.item__general__box.item__general__box--two
					.item__general__volver
						a(href="") volver
					.item__general__title.item__general__title--two
						.title__general.title__general--left
							.title__general___title.title__general__title--normal
								h2 Auditoría
					.item__general__text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci sem, pharetra quis magna vel, vulputate rutrum sapien. Vestibulum massa elit, elementum et scelerisque id, molestie a neque. Proin dapibus eu justo eget maximus. Nunc feugiat metus non enim mattis scelerisque. Quisque vel enim convallis dui tristique sagittis. Maecenas mattis sodales aliquam. Duis nunc justo, malesuada sed pretium id, lobortis eu ligula. In non molestie felis, eget efficitur tellus. Nullam gravida nisi rhoncus tellus consequat facilisis.
					.item__general__btn
						a.btn-general.btn-red( href='') Contáctenos
			.item__general__img.item__general__img--two
				img(src=`.${STATIC_URL}img/item-general-2.jpg`, alt="")

	br
	br
	br

	.item__general
		.item__general__container.item__general__container--three
			.item__general__content.item__general__content--three
				.item__general__box.item__general__box--three
					.item__general__title.item__general__title--three
						.title__general.title__general--left
							.title__general___title.title__general__title--normal
								h3 Cursos
								h2 Capacitar al personal involucrado en los proyectos de implementación delsistema de gestión de la seguridad de la información, haciendo énfasis en los contenidos de la norma ISO 27002.
					.item__general__btn
						a.btn-general.btn-red( href='') Contáctenos
			.item__general__img.item__general__img--three
				.item__general__background--capathree
					img(src=`.${STATIC_URL}img/item-general-3.jpg`, alt="")