extends ./_common/base.pug

block content

	.title__general.title__general--left
		.title__general___title.title__general__title--normal
			h3 Cursos
			h2 Cursos especializados para empresas

	br
	br

	.title__general.title__general--center
		.title__general___title.title__general__title--small
			h3 NUESTROS VALORES NOS REPRESETAN 

	br
	br


	.title__general.title__general--left
		.title__general___title.title__general__title--big
			h2 Cursos especializados para empresas

	br
	br


	.title__general.title__general--center
		.title__general___title.title__general__title--normal
			h2 Cursos especializados para empresas
