// BUTTONS
.btn-general
	font-family: $t-0
	text-transform: uppercase
	border: none
	display: inline-block
	vertical-align: middle
	position: relative
	transition-duration: 0.2s

.btn-red
	background: $c-2
	color: $blanco
	font-size: 14px
	border-radius: 30px
	padding: 15px 35px
	@media screen and (min-width: 1024px)
		&:hover
			box-shadow: 0px 4px 20px 7px rgba(247, 50, 63, 0.3)

.btn-icon
	color: $c-1
	font-size: 13px
	padding-right: 15px
	&:after
		content: '\e90a'
		font-family: $icomoon
		position: absolute
		top: 5px
		left: 0
		color: $c-1
		font-size: 2px
		opacity: 0
		transition-duration: 0.1s
	&:before
		content: '\e606'
		font-family: $icomoon
		position: absolute
		top: 0
		right: 0
		color: $c-1
		font-size: 14px
	@media screen and (min-width: 1024px)
		&:hover
			padding-left: 22px
		&:hover:after
			opacity: 1
			transition-duration: 0.1s