.item__general__container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	margin: auto
	align-items: center

.item__general__container--one
	flex-direction: row-reverse

.item__general__container--two
	max-width: 1240px
	padding: 0px 20px
	align-items: flex-start

.item__general__container--three
	max-width: 1260px
	padding: 0px 20px
	flex-direction: row-reverse
	align-items: flex-start

.item__general__img
	width: 50%

.item__general__img--two
	width: 49%

.item__general__img--three
	width: 55%

.item__general__background
	width: 100%
	height: 100%
	background-size: cover
	background-position: center center
	background-repeat: no-repeat

.item__general__background--capa
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 70%, rgba(255,255,255,1) 100%)
		top: 0
		left: 0

.item__general__background--capathree
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(128,128,128,0) 0%, rgba(0,0,0,0.5) 100%)
		top: 0
		left: 0

.item__general__content
	width: 47%

.item__general__content--one
	padding-left: 3%

.item__general__content--two
	padding-right: 4%
	padding-top: 10px

.item__general__content--three
	width: 40%
	padding-left: 4%
	padding-top: 4%

.item__general__box
	margin: auto
	margin-left: 0

.item__general__box--one
	max-width: 596px

.item__general__box--two
	max-width: 550px

.item__general__box--three
	max-width: 500px

.item__general__title
	padding-bottom: 60px

.item__general__title--two
	.title__general___title
		h2
			font-size: 28px

.item__general__title--three
	.title__general___title
		h2
			font-size: 25px
			line-height: 1.2
			text-align: justify

.item__general__title--width
	max-width: 400px

.item__general__text
	font-family: $t-0
	font-size: 18px
	color: $c-0
	text-align: justify
	padding-bottom: 55px
	p
		margin-bottom: 0

.item__general__volver
	font-family: $t-0
	font-size: 14px
	text-transform: uppercase
	position: relative
	letter-spacing: 1px
	padding-bottom: 50px
	a
		color: $c-6
		padding-left: 20px
		position: relative
		&:before
			content: '\e607'
			position: absolute
			left: 0
			top: 0
			font-family: $icomoon
			font-size: 14px

@media screen and (max-width: 1050px)
	.item__general__title--three
		.title__general___title
			h2
				font-size: 20px
				text-align: left

@media screen and (max-width: 990px)
	.item__general__title
		padding-bottom: 20px

	.item__general__text
		font-size: 14px
		padding-bottom: 20px
		line-height: 1.2

	.item__general__volver
		padding-bottom: 30px

	.item__general__content--three
		padding-top: 0

	.item__general__container--three
		align-items: center

@media screen and (max-width: 700px)
	.item__general__img
		width: 80%
		margin: auto

	.item__general__img--two
		display: none

	.item__general__content
		width: 80%
		margin: auto
		padding-right: 0
		padding-left: 0

	.item__general__box--three,
	.item__general__box--two,
	.item__general__box--one
		max-width: initial
		padding: 0

	.item__general__container--one
		padding: 50px 20px 0px 20px

	.item__general__content
		padding-bottom: 40px

	.item__general__title--width
		max-width: initial

@media screen and (max-width: 480px)
	.item__general__img
		width: 100%

	.item__general__content
		width: 100%