.title__general--left
	text-align: left

.title__general--center
	text-align: center

.title__general___title
	h3
		font-family: $t-2
		color: $c-0
		margin-bottom: 0
		text-transform: uppercase
		font-size: 16px
	h2
		font-family: $t-1
		color: $c-4
		margin-bottom: 0
		font-size: 35px

.title__general__title--normal
	h3
		padding-bottom: 30px

.title__general__title--big
	h2
		font-size: 48px

.title__general__title--small
	h3
		font-size: 16px

@media screen and (max-width: 1150px)
	.title__general__title--big
		h2
			font-size: 38px

@media screen and (max-width: 990px)
	.title__general__title--normal
		h2
			font-size: 27px
		h3
			padding-bottom: 20px

	.title__general__title--big
		h2
			font-size: 35px

@media screen and (max-width: 640px)
	.title__general__title--normal
		h2
			font-size: 26px

	.title__general__title--big
		h2
			font-size: 30px

@media screen and (max-width: 480px)
	.title__general__title--normal
		h2
			font-size: 24px
		h3
			font-size: 15px

	.title__general__title--big
		h2
			font-size: 25px

	.title__general__title--small
		h3
			font-size: 15px

